<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhishekslal.android.campusconnect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CampusNavigation"
            android:label="@string/title_activity_campus_navigation"
            android:parentActivityName=".VisitorActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.abhishekslal.android.campusconnect.VisitorActivity" />
        </activity>
        <activity android:name=".CoursesOffered" />
        <activity android:name=".AboutCampus" />
        <activity
            android:name=".VisitorMoreFragment"
            android:label="@string/title_more" />
        <activity
            android:name=".VisitorExploreFragment"
            android:label="@string/title_explore" />
        <activity
            android:name=".VisitorHomeFragment"
            android:label="@string/title_home" />
        <activity
            android:name=".VisitorActivity"
            android:label="@string/title_activity_visitor" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>